*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    width:100vw ;
    background-color: aqua;
    background-image: url("pattern.png");
  
}

.logo{
    margin-top: 100px;
    margin-left: 25%;
    width: 200px;
    height: 70px;
}

main{
    margin-left: 25%;
    margin-right: 25%
}

h1{
    font-size: 2em;
}

.scritto{
    color: gray;
    font-size: 0.8em;
}

.booleaner{
    color: rgb(31, 130, 229);
    font-size: 0.8em;
}

.date{
    color: gray;
    font-size: 0.8em;
    
}

.immagini1-2{
    margin-top: 20px;
}

.berners-1{
    width: 49% ;
}

.berners-2{
    width: 42% ;
}

figcaption{
    font-size: 0.8em;
}

.paragrafo1{
    margin-top: 25px;;
}

.evidenzia{
    background-color: yellow;
}

.margin{
    margin-top: 25px;
}

.r1{
    background-color: rgb(0, 0, 255);
    width: 100%;
    height: 25px;
    font-weight: bold;
    color: white; 
}

.l2{
   height: 100%;
   width: 32%;
   display: inline-block;
   margin-bottom: 15px;
}

.r2{
    background-color: rgb(7, 191, 241);
}

footer{
    margin-left: 25%;
    margin-right: 25%
}

.other{
    margin-top: 25px;
    color: grey;
}

.pc{
    background-image: url(monitor.jpg) ;
    width: 260px;
    height: 185px;
    margin-top: 15px;
    font-size: 1.7em;
    color: white;

}

.map{
    background-image: url(graph.jpg);
    width: 260px;
    height: 185px; 
    margin-top: 15px;
    font-size: 1.7em;
    color: white;
    margin-bottom: 100px;
}

strong{
    margin-left: 15px;
}
